{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="{% static 'admin/alogin.css' %}">
</head>
<body>



        <section class="container">
            <div class="login-container">
                <div class="circle circle-one"></div>
                <div class="form-container">
                    <h1 class="opacity"> ADMIN LOGIN</h1>
                    <form method="post" action="">
                        {% csrf_token %}
                        {{ aform }}
                        <button class="opacity">SUBMIT</button>
                    </form>

                    {% if messages %}
                        {% for message in messages %}
                            <p style="color: red; text-align: center;"><b>{{ message }}</b></p>
                        {% endfor %}
                    {% endif %}
                    <div class="register-forget opacity">
                       
                    </div>
                </div>
                <div class="circle circle-two"></div>
            </div>
            <div class="theme-btn-container"></div>
        </section>

        <script src="{% static 'admin/alogin.js' %}"></script>

    
</body>
</html>